@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #333;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Marvel', Arial, sans-serif;
}

a, button {
	outline: none;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover, a:focus {
	color: #333;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
